.todo-form {
    /* max-width: 1078px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position : relative;
}

form {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    /* width: 80%; */
    /* width : 1078px; */
    width : 100%
}

form .forInput {
    /* width: 100%; */
    position: relative;
}

form .error {
    font-size : 12px;
    color : #FF3104;
    font-weight : 400;
    line-height : 18px;
}

.clearText {
    background: none;
    border: none;
    position: absolute;
    right: 16px;
    top: 14px;
    display: none;
    /* color: red; */
    margin-left: 10px;
}

.clearText i {
    font-size: 18px;
    color: #174348;
    cursor: pointer;
}

.addBtn {
    background-color: #008594;
    width: 100px;
    margin-left: 24px;
    height: 52px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #174348;
    margin: 0;
    /* float : left */
    position : absolute;
    top : -27px;
    left : 0;
    /* display : block; */
}

.todo-input {
    height: 52px;
    border: 1px solid #FFCD04;
    width: 954px;
    cursor: pointer;
    padding-left: 16px;
    padding: 13px 0 12px 16px;
    padding-right: 40px;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.todo-input:focus {
    outline: none;
    cursor: auto;
}

.todo-input::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    color: #dfdfdf;
    line-height: 27px;
}

/* MEDIA  */

@media (max-width: 1200px) {
    .todo-input {
        width : 800px;
    }
}

@media (max-width: 1115px) {
    .todo-input {
        width : 700px;
    }
}

@media (max-width: 1000px) {
    .todo-input {
        width : 600px;
    }
}

@media (max-width: 880px) {
    .todo-input {
        width : 550px;
    }
}

@media (max-width: 780px) {
    .todo-input {
        width : 500px;
    }
}

@media (max-width: 720px) {
    .todo-input {
        width : 100%;
    }

    .forInput {
        width : 100%
    }

    form {
        width : 100%
    }

    .todo-form {
        width : 80%
    }
}

@media (max-width: 690px) {
    .todo-input {
        width : 100%;
        margin: 0;
    }

    .forInput {
        width : 100%
    }

    form {
        width : 100%
    }

    
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* justify-content: center; */
        /* width: 80%; */
        /* width : 1078px; */
        width : 100%
    }

    .addBtn {
        margin-top : 16px;
    }
}

@media (max-width: 570px) {
    .todo-input {
        width : 100%;
        margin: 0;
    }

    .forInput {
        width : 100%
    }

    form {
        width : 100%
    }
    .todo-form {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .todo-input {
        width : 100%;
        margin: 0;
    }

    .forInput {
        width : 100%
    }

    form {
        width : 100%
    }
}

@media (max-width: 440px) {
    .todo-input {
        width : 100%;
    }

    .forInput {
        width : 100%
    }

    form {
        width : 100%
    }

    .todo-form {
        width : 80%
    }
}