
.todo-item {
    transition : .2s;
    /* height: 72px; */
    /* height : 200px; */
    /* padding : 10px 0; */
    width: 100%;
    border-top: 1px solid #E5E5E5;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.todo-item:hover {
    background-color: #F6F6F6;
}

.todo-item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    line-height: 32px;
    width: 80%;

    /* padding : 10px 0; */
}

.todo-item .todo-item-label .left {
    display: flex;
    align-items: center;
}

.todo-item .todo-item-label .left .todo-text {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 32px;
    margin-left: 35px;
}

input[type = "checkbox"] {
    outline: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background-color: none;
    border: 2px solid #008594;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

input[type = "checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 12px;
    color: white;
    display: none;
}

input[type = "checkbox"]:checked {
    background-color: #008594;
}

input[type = "checkbox"]:checked:after {
    display: block;
}

.delBtn {
    background: none;
    border: none;
    cursor: pointer;
    
}

.delBtn i {
    color: #174348;
    font-size: 18px;
}
