.modal-background {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background .modal-window {
    background-color: white;
    width: 400px;
    height: 200px;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-background .modal-window .text {
    font-size: 18px;
    color: #008594;
    font-weight: 500;
    line-height: 28px;
    position: absolute;
    left: 52px;
    top: 52px;
}

.modal-background .modal-window .buttons {

    display: flex;
    justify-content: center;

    position: relative;
    /* bottom: 52px; */
    /* left: 151px; */
    top: 120px;
    /* right: 151px; */
}

.modal-background .modal-window .buttons .btn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #174348;
    cursor: pointer;
    margin: 0 20px;
    padding: 0;
}